.checkout__header {
  margin-top: 33px;
}

.checkout__header:last-child {
  margin-bottom: 93px;
}

.checkout__title {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 30px;
  -webkit-transition: color .2s;
  transition: color .2s;
  cursor: pointer;
}

.checkout__title span {
  margin-right: 10px;
}

.checkout__title.active {
  border-bottom: none;
  padding-bottom: 0;
}

.checkout__title.active ~ .checkout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.checkout__content {
  display: none;
}

.checkout__content-guest {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-left: 35px;
}

.checkout__content-guest-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  margin-top: 24px;
  margin-bottom: 15px;
}

.checkout__content-guest-text {
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #b3b2b2;
  margin-bottom: 34px;
}

.checkout__content-registed-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 15px;
}

.checkout__content-registed-text {
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #b3b2b2;
  margin-bottom: 27px;
}

.form__guest-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.form__guest-input {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__guest-label {
  margin-left: 14px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}

.form__guest-btn {
  margin-top: 38px;
  padding: 19px 54px;
  border: solid 1px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-transition: color .2s;
  transition: color .2s;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  cursor: pointer;
}

.form__guest-btn:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #f16d7f;
  color: #fff;
}

.form__guest-link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.54;
  color: #b3b2b2;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.form__guest-link::before {
  content: '\f101';
  font-family: 'fontAwesome';
  margin-right: 8px;
}

.form__guest-link:hover {
  color: #f16d7f;
}

.form__registed-info {
  font-size: 12px;
  color: #222222;
  margin-bottom: 16px;
}

.form__registed-info sup {
  vertical-align: baseline;
}

.form__registed-info span {
  color: #ff0d0d;
  font-size: 17px;
}

.form__registed-input {
  width: 390px;
  margin-bottom: 23px;
  border: solid 1px #eaeaea;
  padding: 14px;
}

.form__registed-required {
  font-size: 13px;
  color: #ff0d0d;
  margin-bottom: 32px;
}

.form__registed-btn {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  padding: 20px 55px;
  margin-right: 32px;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.form__registed-btn:hover {
  color: #fff;
  background-color: #f16d7f;
}

.form__registed-link {
  text-decoration: none;
  font-size: 14px;
  color: #222222;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.form__registed-link:hover {
  color: #f16d7f;
}
